mixin archive(post)
  article.archive-item(class='archive-item-' + post.layout)
    header.archive-header
      time.archive-header-time(datetime=date_xml(post.date), itemprop='datePublished')
        = date(post.date, __('month_day_format'))

      - var title = post.title || post.link
      - var href = post.link || url_for(post.path)
      h1.archive-header-title
        a(href=href)= title
