if theme.baidu_analysis
  script(id='baidu_tongji').
    var _hmt = _hmt || [];
    (function () {
      var script  = document.createElement('script');
      var thisTag = document.getElementById('baidu_tongji');

      script.src = '//hm.baidu.com/hm.js?!{theme.baidu_analysis}';

      thisTag.parentNode.insertBefore(script, thisTag);

      setTimeout(function () {
        script.parentNode.removeChild(script);
        thisTag.parentNode.removeChild(thisTag);
      }, 100);
    })();


