link(rel="stylesheet", href="https://imsun.github.io/gitment/style/default.css")
script(src="https://imsun.github.io/gitment/dist/gitment.browser.js")
script.
    var gitment = new Gitment({
        owner: 'bubkoo',
        repo: 'bubkoo.github.com',
        oauth: {
            client_id: '13c9fa4a27f96e5296bf',
            client_secret: 'd0f07fcf8605a22de1e57fd96ddb0666d2ce0751',
        },
    })
    gitment.render('article-comment')
