- var copyYear = (new Date()).getFullYear();
- var copyOrg = config.author || config.title

footer#footer.inner
  span.copyright
    = '© ' + copyYear + ' ' + copyOrg
  span.theme @
    a(href='https://github.com/bubkoo/hexo-theme-formula', target='_blank') formula
