meta(charset='utf-8')
include ./head/title
include ./head/meta

link(href=url_for('css/style.css'), rel='stylesheet', type='text/css', charset='utf-8')
link(href=url_for('fancybox/jquery.fancybox.css'), rel='stylesheet', type='text/css', charset='utf-8')

include ../_tools/load-html5shiv
include ../_tools/load-start-time